<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pet.perpet.equal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>

    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        android:minSdkVersion="33" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.Perpet_AOS"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".presentation.start.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".presentation.base.activity.ContainerActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <activity
            android:name=".presentation.start.StartLoginActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Perpet_AOS" />


        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao51512cf90930d7c0803cb56deafd000e" />
            </intent-filter>
        </activity>

        <service
            android:name=".support.push.AppFcmListenerService"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/AppTheme.OrderApp" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/AppTheme.OrderApp" />


        <activity
            android:name=".support.push.presentation.PushLinkActivity"
            android:excludeFromRecents="false"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme.Translucent" />

        <activity
            android:name=".support.deeplink.DeepLinkProcessActivity"
            android:excludeFromRecents="false"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme.Translucent"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".support.deeplink.DeepLinkCheckerActivity"
            android:excludeFromRecents="false"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme.Translucent"
            tools:targetApi="m">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="equal-pet" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="equal.pet"
                    android:scheme="https" />

            </intent-filter>
        </activity>


        <receiver
            android:name=".support.alarm.AlarmReceiver"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />

        <receiver
            android:name=".support.alarm.BootCompletedReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


    </application>


    <queries>
        <package android:name="com.kakao.talk" />
    </queries>

</manifest>